.articles-header {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .page-heading{
    margin-top: 20px;
  }
  
  .articles-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
  }
  
  .article-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #000;
  }
  
  .article-content {
    flex: 2;
  }
  
  .article-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--page-col);
    transition: color 0.3s, text-shadow 0.3s;
  }
  
  .article-link:hover {
    color: var(--link-col);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  .article-thumbnail {
    flex: 1;
    text-align: right;
  }
  
  .article-thumbnail img {
    max-width: 80px; /* Adjust the size */
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-custom{
    background-color:#000;
  }

  .page-subheading{
    color:var(--hover-col);
    font-weight: bold !important;
  }

  #search-results-container a{
    color:var(--hover-col) !important;
  }

.btn-whatsapp{color:#000;background-color:#168e00;border-color:rgba(0,0,0,0.2)}.btn-whatsapp:focus,.btn-whatsapp.focus{color:#000;background-color:#bcddff;border-color:rgba(0,0,0,0.2)}
.btn-whatsapp:hover{color:#000;background-color:#398c2a;border-color:rgba(0,0,0,0.2)}
.btn-whatsapp:active,.btn-whatsapp.active,.open>.dropdown-toggle.btn-whatsapp{color:#000;background-color:#bcddff;border-color:rgba(0,0,0,0.2)}.btn-whatsapp:active:hover,.btn-whatsapp.active:hover,.open>.dropdown-toggle.btn-whatsapp:hover,.btn-whatsapp:active:focus,.btn-whatsapp.active:focus,.open>.dropdown-toggle.btn-whatsapp:focus,.btn-whatsapp:active.focus,.btn-whatsapp.active.focus,.open>.dropdown-toggle.btn-whatsapp.focus{color:#000;background-color:#98ccff;border-color:rgba(0,0,0,0.2)}
.btn-whatsapp:active,.btn-whatsapp.active,.open>.dropdown-toggle.btn-whatsapp{background-image:none}
.btn-whatsapp.disabled,.btn-whatsapp[disabled],fieldset[disabled] .btn-whatsapp,.btn-whatsapp.disabled:hover,.btn-whatsapp[disabled]:hover,fieldset[disabled] .btn-whatsapp:hover,.btn-whatsapp.disabled:focus,.btn-whatsapp[disabled]:focus,fieldset[disabled] .btn-whatsapp:focus,.btn-whatsapp.disabled.focus,.btn-whatsapp[disabled].focus,fieldset[disabled] .btn-whatsapp.focus,.btn-whatsapp.disabled:active,.btn-whatsapp[disabled]:active,fieldset[disabled] .btn-whatsapp:active,.btn-whatsapp.disabled.active,.btn-whatsapp[disabled].active,fieldset[disabled] .btn-whatsapp.active{background-color:#eff7ff;border-color:rgba(0,0,0,0.2)}
.btn-whatsapp .badge{color:#eff7ff;background-color:#000}

.youtube-container {
  display: flex;
  justify-content: center;
}
  
iframe {
  aspect-ratio: 16 / 9;
  height:auto;
  width: 100% !important;
}

#toc-container {
  position: sticky;
  top: 50px; /* Adjust to #main-navbar height */
  z-index: 1;
  width: 250px; /* Adjust width */
  border: 1px solid #e8e8e8;
  border-radius: 3px;  
  background-color: white;
  width:100%;
}

#toc h2{
  margin-top:0.5rem
}

#toc {
  width:100%;
  padding-left:10px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 100vh; /* Default expanded height */
}

#toc.collapsed {
  max-height: calc(1.5em + 25px); /* Approximate h2 height */
  }

#toc.collapsed::after {  
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  content: "+"; /* Down arrow */
  font-weight:bold;
  }

  #toc a.active {
    color: blue; /* Change color to indicate active */
    font-weight: bold;
  }
  
.toc-depth-1 {
  list-style-type: disc; /* Default disc for level 1 */
}

.toc-depth-2 {
  list-style-type: circle; /* Circle for level 2 */
}

.toc-depth-3 {
  list-style-type: square; /* Square for level 3 */
}

.toc-depth-4,
.toc-depth-5,
.toc-depth-6 {
  list-style-type: none; /* Optional for deeper levels */
  margin-left: 20px;
}

.toc-depth-4::before {
  content: "• "; /* Custom bullet style for deeper levels */
}

.toc-depth-5::before {
  content: "◦ "; /* Custom bullet for level 5 */
}

.toc-depth-6::before {
  content: "▪ "; /* Custom bullet for level 6 */
}

#scrollToTop {
  background-color: var(--hover-col);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  transition: opacity 0.3s;
}

#scrollToTop:hover {
  background-color: var(--hover-col);
}
